/* CateData style */

.nav_category {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    position: absolute;
    margin: 0;
}

.nav_container {
    display: block;
    overflow: auto;
    width: 100%;
    height: 165px;
    max-width: 1256px;
    /* margin: 0 auto; */
    /* margin-top:5%; */
    box-sizing: border-box;
}

img.imgcategory {
    width: 90px;
    height: 80px;
}

img.imgcategory:hover {
    cursor: pointer;
}

/* PostingData style */

.photodiv {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 400px;
}

.photo {
    width: 250px;
    height: 250px;
}

.photo:hover {
    transform: scale(1.1, 1.1);
}

ul.menu {
    margin: 10px;
    list-style: none;
}

ul.menu li {
    float: left;
    width: 68px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 5px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    background-color: #EBDDA7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
}

ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

ul.menu li:hover {
    background-color: #C95E2F;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
}

ul.menu li:hover a {
    color: #fff6da;
}